@import "../variables.css";

* {
        box-sizing: border-box;
        font-family: Lato, sans-serif;
        text-decoration: none;
}

.background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        background-color: var(--oxford-blue);
}

.font-vivaldi-header {
        font-family: "vivaldi-mn", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.font-vivaldi-signature {
        font-family: "vivaldi-mn", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 120%;
}

header {
        width: 100%;
        text-align: center;
        font-size: 1.5vw;
        color: var(--floral-white);
}

body {
        margin: 0;
        font-size: 14pt;
}

.nav {
        background-color: var(--floral-white);
        display: flex;
        justify-content: center;
        margin: 0vh 0vh 1.5vh 0vh;
}

.nav a {
        color: var(--oxford-blue);
        padding: 2vh 1.5vw 2vh 1.5vw;
        font-size: 16px;
}

.nav a:hover,
.nav a.active {
        background-color: var(--champagne-gold);
}

main {
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
}

footer {
        position: fixed;
        bottom: 0;
        right: 0;
        color: var(--floral-white);
        font-size: x-small;
        text-align: right;
        padding: 10px;
}

@media only screen and (max-width: 1000px) {

        header {
                font-size: 14px;
        }

        .nav a {
                font-size: 14px;
        }
}

ul {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
}

ul li {
        position: relative;
        list-style: none;
        width: 60px;
        height: 60px;
        margin: 0 30px;
        transform: rotate(-30deg) skew(25deg);
}

ul li span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: teal;
        transition: 0.5s;
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 30px !important;
}

ul li:hover span:nth-child(5) {
        transform: translate(40px, -40px);
        opacity: 1;
}

ul li:hover span:nth-child(4) {
        transform: translate(30px, -30px);
        opacity: 0.8;
}

ul li:hover span:nth-child(3) {
        transform: translate(20px, -20px);
        opacity: 0.6;
}

ul li:hover span:nth-child(2) {
        transform: translate(10px, -10px);
        opacity: 0.4;
}

ul li:hover span:nth-child(1) {
        transform: translate(0, 0);
        opacity: 0.2;
}



