@import "../variables.css";

* {
        box-sizing: border-box;
        font-family: Lato, sans-serif;
        font-weight: 300;
        font-style: normal;
}

.background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        background-color: var(--anthrazit);
}

.font-vivaldi-header {
        font-family: "vivaldi-mn", sans-serif;
        font-weight: 400;
        font-style: normal;
}

header {
        width: 100%;
        text-align: center;
        font-size: 1.5vw;
        color: var(--white);
}

body {
        margin: 0;
        font-size: 14pt;
}

.nav {
        background-color: var(--anthrazit-inverted);
        display: flex;
        justify-content: center;
        margin: 0vh 0vh 1.5vh 0vh;
}

.nav a {
        color: black;
        padding: 2vh 1.5vw 2vh 1.5vw;
        font-size: 16px;
        text-decoration: none;
        font-weight: 400;
}

.nav a:hover,
.nav a.active {
        background-color: var(--anthrazit);
        color: white;
}

main {
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
}

footer {
        position: fixed;
        bottom: 0;
        right: 0;
        color: var(--floral-white);
        font-size: x-small;
        text-align: right;
        padding: 10px;
}

@media only screen and (max-width: 1000px) {

        header {
                font-size: 11pt;
        }

        .nav a {
                font-size: 11pt;
                padding: 2vh 2.5vw 2vh 2.5vw;
        }

        main {
                font-size: 11pt;
                flex-direction: column;
        }
}


table {
        border-collapse: collapse;
        width: 50%;
        table-layout: fixed;
}

th,
td {
        border: 1px solid white;
        padding: 8px;
        text-align: left;
        vertical-align: top;
}

/* Optional: Liste in Tabellenzelle besser darstellen */
ul.list-inside-cell {
        font-size: 75%;
        padding: 10px;
}