@import "../variables.css";

* {
        box-sizing: border-box;
        font-family: "proxima-nova", sans-serif;
        font-weight: 300;
        font-style: normal;
}

.background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        background-color: var(--anthrazit);
}

.font-vivaldi-header {
        font-family: "proxima-nova", sans-serif;
        font-weight: 300;
        font-style: normal;
}

.font-vivaldi-signature {
        font-family: "vivaldi-mn", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 120%;
}

header {
        width: 100%;
        text-align: center;
        font-size: 1.5vw;
        color: var(black);
}

body {
        margin: 0;
        font-size: 14pt;
}

.nav {
        background-color: var(--seashell);
        display: flex;
        justify-content: center;
        margin: 0vh 0vh 1.5vh 0vh;
}

.nav a {
        color: black;
        padding: 2vh 1.5vw 2vh 1.5vw;
        font-size: 16px;
        text-decoration: none;
}

.nav a:hover,
.nav a.active {
        background-color: var(--white);
}

main {
        display: flex;
        color: black;
        margin: 0% 0% 5% 0%;
}

.artikel,
.socials {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.container::-webkit-scrollbar {
        display: none;
}

.container {
        scrollbar-width: none;
}

.artikel .container {
        display: flex;
        justify-content: center;
}

#artikel-align {
        width: 75%;
}

.socials .container a {
        text-decoration: none;
}

.container a {
        color: black;
        padding: 10px 0px 10px 0px;
        display: flex;
}

.container span {
        width: 40px;
        text-align: center;
        padding-right: 1vw;
}

.content {
        width: 50%;
}

p {
        margin: 15px 0px 15px 0px;
        text-align: justify;
        line-height: 1.6;
}

footer {
        position: fixed;
        bottom: 0;
        right: 0;
        color: var(--floral-white);
        font-size: x-small;
        text-align: right;
        padding: 10px;
}

.prev-next button {
        font-size: 10pt;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--oxford-blue);
        background: var(--floral-white);
        cursor: pointer;
        border: 3px solid var(--champagne-gold);
        padding: 0.5em 0.5em;
        margin: 1em;
        box-shadow: 2px 2px 0px 0px var(--champagne-gold);
        position: relative;
        width: 170px;
}

.prev-next button:active {
        box-shadow: 0px 0px 0px 0px;
        top: 2px;
        left: 2px;
}

#slideshow-2022 img,
#slideshow-2023 img,
#slideshow-2023 video {
        width: 75%;
}

#slideshow-2022,
#slideshow-2023 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
}

#prev-next {
        padding: 20px 0px 60px 0px;
}

@media only screen and (max-width: 1000px) {

        header {
                font-size: 11pt;
        }

        .nav a {
                font-size: 11pt;
                padding: 2vh 2.5vw 2vh 2.5vw;
        }

        main {
                font-size: 11pt;
                flex-direction: column;
        }

        .content {
                width: 100%;
                padding: 0vh 4vw 0vh 4vw;
        }

        .artikel,
        .socials {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0vh 4vw 1vh 4vw;
        }

        #artikel-align {
                width: 100%;
        }

        .socials {
                padding: 0vh 4vw 4vh 4vw;
        }

        .container {
                display: flex;
                overflow-x: auto;
                width: 100%;
                white-space: nowrap;
        }

        .container a {
                padding: 3px 5vw 3px 0px;
                display: inline-block;
        }

        .container span {
                padding-right: 1.5vw;
        }

        .prev-next button {
                font-size: 5pt;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: var(--oxford-blue);
                background: var(--floral-white);
                cursor: pointer;
                border: 1px solid var(--champagne-gold);
                padding: 0.5em 0.5em;
                margin: 10px 5px 0px 5px;
                box-shadow: 1px 1px 0px 0px var(--champagne-gold);
                position: relative;
                width: 70px;
        }

        .prev-next button:active {
                box-shadow: 0px 0px 0px 0px;
                top: 2px;
                left: 2px;
        }
}