:root {
        --oxford-blue: #002147;
        --seashell: #FFF5EE;
        --floral-white: #FFFAF0;
        --emerald: #50C878;
        --champagne-gold: #F7E7CE;
        --white: #FFFFFF;
        --black: #000000;
        --amethyst: #9966CC;
        --heliotrop: #DF73FF;
        --aqua: #00FFFF;
        --white-transparency: rgba(255, 255, 255, 0.8);
}